.grid-container {
  background-color: rgb(190, 190, 231);
}

/* Grid Container 1 */
.grid-container-1 {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
/* Grid Container 2 */
.grid-container-2 {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
/* use height: 400px; on the container */

/* Grid Container 3 `*/
.grid-container-3 {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 1fr repeat(2, 2fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.grid-container-3 div:nth-child(8) {
  grid-column: 2 / -1;
}

.grid-container-4 {
  height: 600px;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.grid-container-4 div:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.grid-container-4 div:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.grid-container-4 div:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.grid-container-4 div:nth-child(4) {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.grid-container-4 div:nth-child(5) {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.grid-container-4 div:nth-child(6) {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}
