:root {
  --darkviolet: #9400d3;
  --maroon: #800000;
  --darkgolden: #8f6805;
}
.main{
  display: flex;
  margin-top: 60px;
}
.box {
  padding: 10px;
  color: var(--white);
}

.static {
  background-color: var(--darkviolet);
  position: static;
  width: 300px;
  height: 400px;

}

.relative {
  background-color: var(--purple);
  position: relative;
  bottom: 400px;
  left: 50%;
  bottom: 0;
  width: 300px;
  height: 400px;
}

.absolute {
  background-color: var(--maroon);
  position:absolute;
  width: 100%;
  height: 50px;
  top:0;
  right:0;
}

.fixed {
  background-color: var(--darkgolden);
  position: fixed;
  height: 50px;
  width: 100%;
  bottom : 0;
  left: 0;
}
